<% for(var i = 0; i < users.length; i++) { %>
        <tr class="tech-slideshow" width="340px">

            <td style="padding-left: 15px;" class="mover-1" ><%= i + 1 %>.</td>
            <td style="text-align: left;"class="lefted mover-1" ><%= users[i].email %></td>
            <td class="mover-1" ><%= users[i].gender %>₽</td>
            <td class="mover-1"><%= users[i].name %>₽</td>

    
    
    
    </tr>
    
<% } 
let value=1232;
%>